# Binaries
/bin/
/*.exe
/*.dll
/*.so
/*.dylib

# Vendor
/vendor/

# IDE
.vscode/
.idea/

# Build / test
*.out

# SQLC
sqlc.yaml

# Local DB
dev.db

# Node modules if any
node_modules/

*.log
go.sum
#report files
report.synctex.gz
report.aux
report.bbl
report.bcf
report.blg
report.run.xml